body {
    font-family: Arial, sans-serif;
    text-align: left;
    margin-left: 200px;
    background-color: #f2f2f2;
    display: flex;  /* Use flex container */
    justify-content: flex-start;  /* Align content to the left */
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start; /* Align items to the start (top) of the container */
   
    height: 100vh;  /* Full height of the viewport */
}

h1 {
    color: #333;
}

#loginForm, #registerForm {
    width: 300px;
    margin-right: 20px;  /* Add margin to the right for spacing */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #398439;
}

#registerForm {
    display: none;
}

button.toggleButton {
    background-color: #3498db;
    color:#3498db
}
