body {
    font-family: Arial, sans-serif;
    text-align: center; /* Center text */
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    height: 100vh;
}

h1 {
    color: #333;
}

#main {
    display: flex;
    align-items: center; /* Center items horizontally */
    justify-content: space-between;
    padding: 20px;
    width: 100%; /* Adjusted width to center content */
    max-width: 1200px; /* Maximum width for better responsiveness */
}

#formsContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

#loginForm, #registerForm {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #398439;
}

#registerForm {
    display: none;
}

#imageContainer {
    flex-grow: 10;
    margin-left: 30px; /* Add margin to the left of the image container */
   
}

#imageContainer img {
   
    height: 600;
    width: 600;
    max-width: 950px; /* Set a maximum width for the image */
}

button.toggleButton {
    background-color: #3498db;
    color: #3498db;
}
